<!DOCTYPE html>

<html lang='pt'>
<head>
  <title>Set Adoption</title>
  <link href='{{url_for('static', filename='css/bootstrap.css')}}' rel='stylesheet'>
  <link href='{{url_for('static', filename='css/village.css')}}' rel='stylesheet'>
</head>

<body>
  <nav class='navbar navbar-fixed-top'  id='top'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <a class='navbar-brand' href='{{url_for('index')}}'>Puppy Shelter Village</a>
        <a class='navbar-brand' href='{{url_for('list_view', list_type=list_type )}}'  >Adopt!</a>
        <a class='navbar-brand' href='{{url_for('item_view', list_type=list_type, item_id=item_id)}}'> {{puppy.name}}</a>
      </div>
      <div class='navbar-collapse collapse'>
          <form class="navbar-form navbar-right" id='search'>
            <input type="text" class="form-control" placeholder="Search All">
            <input type="submit" value="Submit" class="btn">
          </form>
      </div>
    </div>
  </nav>

  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-sm-9 main'>
        <div class='row'>
          <div class='col-md-4 col-sm-4'>
            <div class='row'>
              <h1>Chose new owner for {{puppy.name}}</h1>
              <table>
                <thead>
                  <th> Name</th>
                  <th> Surname</th>
                  <th> Age </th>
                  <th> Gender</th>
                </thead>
                <tbody>
                  {% for item in owners %}
                  <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.surname}}</td>
                    <td>{{item.age}}</td>
                    <td>{{item.gender}}</td>
                    <td><a href='{{url_for('adopt_confirm', item_id=item_id, owner_id=item.id, list_type=list_type)}}'>+</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
