<!DOCTYPE html>
<html lang='pt'>

    <head>
        <title>Kitty KinderGarden</title>
        <link href='static/css/bootstrap.css' rel='stylesheet'>
        <link href='static/css/village.css' rel='stylesheet'>
    </head>

    <body class='index'>
        <nav class='navbar navbar-fixed-top'>
            <div class='container-fluid'>
              <div class='navbar-right'>
                    <h4 id='login'><a href='home'>Login</a></h4>
              </div>
            </div>
          </nav>

          <div class='container' id='index-pic'>
            <div class='row'>
              <div class='col-md-12 col-sm-12' id='branding'>
                Kitty KinderGarden
              </div>
            </div>
            <div class='jumbotron' id='main_picture' style='background-image: url("http://placekitten.com/1024/350")'>
                <div id='filler'></div>
                <h2>Welcome to the kitty kindergarden!</h2>
                <p> Help us, adopt a baby cat!</p>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-4" >
                <a href='puppies/list'><p id='puppies' style='background-image: url("http://placekitten.com/524/350")'>Our Kitten</p></a>
              </div>
              <div class="col-md-4 col-sm-4">
                <a href='owners/list'><p id='puppies' style='background-image: url("http://placekitten.com/522/360")'>Happy Owners</p></a>
              </div>
              <div class="col-md-4 col-sm-4" >
                <a href='shelters/list'><p id='puppies' style='background-image: url("http://placekitten.com/554/356")'>Our Shelters</p></a>
              </div>
            </div>
          </div>

    </body>
</html>
