<!DOCTYPE html>

<html lang='pt'>
<head>
  <title>Delete {{list_type}}</title>
  <link href='{{url_for('static', filename='css/bootstrap.css')}}' rel='stylesheet'>
  <link href='{{url_for('static', filename='css/village.css')}}' rel='stylesheet'>
</head>

<body>
  <nav class='navbar navbar-fixed-top'  id='top'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <a class='navbar-brand' href='{{url_for('index')}}'>Puppy Shelter Village</a>
        <a class='navbar-brand' href='{{url_for('list_view', list_type=list_type )}}'  >\Delete {{list_type}}</a>
      </div>
    </div>
  </nav>

<div class='container'>
  <div class='row'>
    <div class='col-md-10 col-sm-9 main'>
      <div class='row'>
        <div class='col-md-8 col-sm-8' id='profile'>
          <h1>Delete item</h1>
              <form method='POST' enctype='multipart/form-data' action='{{url_for('item_delete', list_type=list_type, item_id=item_id)}}'>
                  <h2>Are you sure to delete {{item.name}}, id number {{item.id }} from {{list_type}} table?</h2>
                  <input type="submit" value="Delete">
                  <a href="{{url_for('list_view', list_type=list_type)}}">Cancel</a>
              </form>
        </div>
      </div>
    </div>
</div>
</div>


</body>
</html>
