<!DOCTYPE html>

<html lang='pt'>
<head>
  <title>Item view</title>
  <link href='{{url_for('static', filename='css/bootstrap.css')}}' rel='stylesheet'>
  <link href='{{url_for('static', filename='css/village.css')}}' rel='stylesheet'>
</head>

<body>
  <nav class='navbar navbar-fixed-top'  id='top'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <a class='navbar-brand' href='{{url_for('index')}}'>Puppy Shelter Village</a>
        <a class='navbar-brand' href='{{url_for('list_view', list_type=list_type )}}'  >\Our Puppies</a>
        <a class='navbar-brand' href='{{url_for('item_view', list_type=list_type, item_id=item_id)}}'  >\{{item.Puppy.name}}</a>
      </div>
      <div class='navbar-collapse collapse'>
          <form class="navbar-form navbar-right" id='search'>
            <input type="text" class="form-control" placeholder="Search All">
            <input type="submit" value="Submit" class="btn">
          </form>
      </div>
    </div>
  </nav>

<div class='container'>
  <div class='row'>
    <div class='col-md-10 col-sm-9 main'>
      <!--MESSAGE FLASHING EXAMPLE -->
          {% with messages = get_flashed_messages() %}
              {% if messages %}

              <ul>
              {% for message in messages %}
                <li><strong>{{message}}</strong></li>
                {% endfor %}
              </ul>
              {% endif %}
          {% endwith %}
      <div class='row'>
        {% if list_type == puppies %}
        <div class='col-md-4 col-sm-4'>
          <h2>{{item.Puppy.name}}</h2>
          <img src='{{item.Puppy.picture}}' class='img-responsive' id='profile-pic'>
        </div>
        <div class='col-md-8 col-sm-8' id='profile'>
          <p>Date of birth: {{item.Puppy.dateOfBirth}}</p>
          <p>Gender: {{item.Puppy.gender}}</p>
          <p>Weight: {{item.Puppy.weight}}</p>
          <p>Location: <a href='{{item.Shelter.website}}'>{{item.Shelter.name}} </a></p>
          <p>Other info: ?</p>
        </div>
        {% endif %}
      </div>
    </div>
    <div class='col-md-2 col-sm-3 sidebar-right'>
      {% if list_type == puppies %}
        <div class='puppy-sidebar'>
          <p id='button'><a href="#" >Adopt!</a></p>
          <!-- HIDDEN   <form class="navbar-form navbar-right" id='user-connection'>
                Login: <input type="text" class="form-control" placeholder="login">
                Password:<input type="text" class="form-control" placeholder="password">
                <input type="submit" value="Submit" class="btn">
              </form> -->
          <ul class="nav nav-sidebar">
             <li class="active"><a href="#">Subscription<span class="sr-only"></span></a></li>
             <li><a href="#">Edit</a></li>
             <li><a href="#">Delete</a></li>
          </ul>
        </div>
        {% endif %}
    </div>
</div>
</div>


</body>
</html>
