<!DOCTYPE html>

<html lang='pt'>
<head>
  <title>List view</title>
  <link href="{{url_for('static', filename='css/bootstrap.css')}}" rel='stylesheet'>
  <link href="{{url_for('static', filename='css/village.css')}}" rel='stylesheet'>
</head>

<body>
  <nav class='navbar navbar-fixed-top' id='top'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <a class='navbar-brand' href='{{url_for('index')}}' >Puppy Shelter Village</a>
        <a class='navbar-brand' href='#'>\Our {{list_type}}!</a>
      </div>
      <div class='navbar-collapse collapse'>
          <form class="navbar-form navbar-right" id='search'>
            <input type="text" class="form-control" placeholder="Search Kind of list">
            <input type="submit" value="Submit" class="btn">
          </form>
      </div>
    </div>
  </nav>

<div class='container'>
  <div class='row'>
    <div class='col-md-10 col-sm-9 main' id='viewing-list'>
      <!--MESSAGE FLASHING EXAMPLE -->
          {% with messages = get_flashed_messages() %}
              {% if messages %}

              <ul>
              {% for message in messages %}
                <li><strong>{{message}}</strong></li>
                {% endfor %}
              </ul>
              {% endif %}
          {% endwith %}
      <div class='row'>
      {% for item in items %}
              {% if list_type=='puppies' and item.owner_id is none %}
              <div class='col-md-3 col-sm-6'>
              <div class='list' style='background-image: url("{{item.picture}}")'>
              <h3><a href="{{url_for('item_view', list_type = list_type, item_id=item.id)}}">{{item.name}}</a></h3>
              <p>Age: {{ item.dateOfBirth }}</p>
              <p>Gender: {{item.gender}}</p>
              <p>Weight: {{item.weight}}</p>
              <p><a href='{{url_for('item_edit', list_type = list_type, item_id=item.id)}}' id='edit'>Edit</a></p>
              </div>
              </div>
              {% endif %}
              {% if list_type=='shelters' %}
              <div class='col-md-3 col-sm-6'>
              <div class='list' style='background-image: url("{{item.picture}}")'>
              <h3><a href="{{url_for('item_view', list_type = list_type, item_id=item.id)}}">{{item.name}}</a></h3>
              <p>Adress:{{item.address}}</p>
              <p>State: {{item.state}}</p>
              <p><a href='{{item.website}}'>Visit their website!</a></p>
              <p><a href='{{url_for('item_edit', list_type = list_type, item_id=item.id)}}' id='edit'>Edit</a></p>
              </div>
              </div>
              {% endif %}
              {% if list_type=='owners' %}
              <div class='col-md-3 col-sm-6'>
              <div class='list' style='background-image: url("{{item.picture}}")'>
              <h3><a href="{{url_for('item_view', list_type = list_type, item_id=item.id)}}">{{item.name}}</a></h3>
              <p>Surname:{{item.surname}}</p>
              <p>Gender: {{item.gender}}</p>
              <p>Age: {{item.age}}</p>
              <p><a href='{{url_for('item_edit', list_type = list_type, item_id=item.id)}}' id='edit'>Edit</a></p>
              </div>
              </div>
              {% endif %}
      {% endfor %}
    </div>
  </div>

    <div class='col-md-2 col-sm-3'>



      <!-- HIDDEN   <form class="navbar-form navbar-right" id='user-connection'>
            Login: <input type="text" class="form-control" placeholder="login">
            Password:<input type="text" class="form-control" placeholder="password">
            <input type="submit" value="Submit" class="btn">
          </form>
           <form class="navbar-form navbar-right" id='user-connection'>
           <input type="submit" value="Add a new puppy" class="btn">
           </form>
         -->
      <!-- TODO Add to css a .hover class so that it is hidden when not hover and auto when on hover -->
      <ul class="nav nav-sidebar" style='max-height:300px; overflow:auto;'>
        <li>  <a href="#" class='button'>Login</a></li>
        <li><a href='{{url_for('item_new', list_type = list_type)}}'>Add</a></li>
        {% for each in alphabet %}
         <li><a href=
           {% if list_type == 'puppies' %}
           '{{url_for('puppies_aZ', letter = each)}}'
           {% endif %}
           >{{each}}<span class="sr-only"></span></a></li>
        {% endfor %}
      </ul>

    </div>
</div>
</div>

</body>
</html>
