<!DOCTYPE html>

<html lang='pt'>
<head>
  <title>Edit puppies</title>
  <link href='{{url_for('static', filename='css/bootstrap.css')}}' rel='stylesheet'>
  <link href='{{url_for('static', filename='css/village.css')}}' rel='stylesheet'>
</head>

<body>
  <nav class='navbar navbar-fixed-top'  id='top'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <a class='navbar-brand' href='{{url_for('index')}}'>Puppy Shelter Village</a>
        <a class='navbar-brand' href='{{url_for('list_view', list_type=list_type )}}'  >\Edit Puppies</a>
        <a class='navbar-brand' href='{{url_for('item_view', list_type=list_type, item_id=item_id)}}'  >\{{item.name}}</a>
      </div>
    </div>
  </nav>

<div class='container'>
  <div class='row'>
    <div class='col-md-10 col-sm-9 main'>
      <div class='row'>
        <div class='col-md-8 col-sm-8' id='profile'>
          <!--MESSAGE FLASHING EXAMPLE -->
              {% with messages = get_flashed_messages() %}
                  {% if messages %}

                  <ul>
                  {% for message in messages %}
                    <li><strong>{{message}}</strong></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
              {% endwith %}
          <h1>Editing {{item.name}}</h1>
          {% from "_form_helpers.html" import render_field, render_field2 %}
          <form method='POST' enctype='multipart/form-data' action='{{url_for('item_edit', list_type='puppies', item_id=item_id)}}'>
            <dl>
              {{ render_field(form.name, item.name) }}
              {{ render_field(form.gender, item.gender) }}
              {{ render_field(form.weight, item.weight) }}
              {{ render_field(form.picture, item.picture) }}
              {{ render_field(form.dateOfBirth) }}
              {{ render_field(form.shelter) }}
            </dl>
            <p><input type=submit value=Register>
            <a href="{{url_for('item_view', list_type=list_type, item_id=item_id)}}">Cancel</a>
          </form>
        </div>
        <div class='col-md-4 col-sm-4' id='profile'>
          <br /><br>
          <h1>Verification</h1>
          <p>Name: {{item.name}}</p>
          <p>Date of birth: {{item.dateOfBirth}}</p>
          <p>Gender: {{item.gender}}</p>
          <p>Weight: {{item.weight}}</p>
          {% if item.shelter_id is not none %}
          <p>Location: {{item.shelter_id}}</p>
          {% endif %}
          <p>Other info: ?</p>
          <p>** Ensure picture URL is like http://website_url.com</p>
        </div>
      </div>
    </div>
</div>
</div>


</body>
</html>
