<!DOCTYPE html>

<html lang='pt'>
<head>
  <title>Edit Shelter</title>
  <link href='{{url_for('static', filename='css/bootstrap.css')}}' rel='stylesheet'>
  <link href='{{url_for('static', filename='css/village.css')}}' rel='stylesheet'>
</head>

<body>
  <nav class='navbar navbar-fixed-top'  id='top'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <a class='navbar-brand' href='{{url_for('index')}}'>Puppy Shelter Village</a>
        <a class='navbar-brand' href='{{url_for('list_view', list_type=list_type )}}'  >\Edit Shelter</a>
        <a class='navbar-brand' href='{{url_for('item_view', list_type=list_type, item_id=item_id)}}'  >\{{item.name}}</a>
      </div>
    </div>
  </nav>

<div class='container'>
  <div class='row'>
    <div class='col-md-10 col-sm-9 main'>
      <div class='row'>
        <div class='col-md-8 col-sm-8' id='profile'>
          <!--MESSAGE FLASHING EXAMPLE -->
              {% with messages = get_flashed_messages() %}
                  {% if messages %}

                  <ul>
                  {% for message in messages %}
                    <li><strong>{{message}}</strong></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
              {% endwith %}
          {% from "_form_helpers.html" import render_field %}
              <form method='POST' enctype='multipart/form-data' action='{{url_for('item_edit', list_type='shelters', item_id=item_id)}}'>
                  <h2>Insert info about the shelter</h2>
                  <dl>
                    {{ render_field(form.name, item.name) }}
                    {{ render_field(form.address, item.address) }}
                    {{ render_field(form.city, item.city) }}
                    {{ render_field(form.state, item.state) }}
                    {{ render_field(form.zipCode, item.zipCode) }}
                    {{ render_field(form.website, item.website) }}
                  </dl>
                    <p><input type=submit value=Update>
                      <a href="{{url_for('item_view', list_type='shelters', item_id=item_id)}}">Cancel</a>
                </form>
        </div>
        <div class='col-md-4 col-sm-4' id='profile'>
          <br /><br /><br /><br />
          <p>Shelter: {{item.name}}  </p>
          <p>Address: {{item.address}}, {{item.city}}</p>
          <p>State: {{item.state}}  </p>
          <p>Zip Code: {{item.zipCode}}          </p>
          <p>Website: <a href='//{{item.website}}'>{{item.name}} </a></p><br>
          <p>** Ensure website URL is in the http://website_url.com format</p>
        </div>
      </div>
    </div>
</div>
</div>


</body>
</html>
